<!DOCTYPE html>
<html lang="ko">
  <head>
    <title> News Search </title>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width = device-width, initial-scale = 1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <style>
      body{text-align: center; font-family: 'Do Hyeon', sans-serif;  color: dimgrey; background: blanchedalmond; margin-top: 2rem}
      .every_card{width: 90%; margin: 1rem auto;}
      .card{width: 20%; display: inline-block; height: 25rem; transform: scale(0.9); margin-bottom: 1rem; border-radius: 3rem}
      input[type=text]{text-align: center; margin-bottom: 2rem; margin-top: 1rem; border-radius: 0.5rem}
      .btn-info{background: white; color: dimgrey}

    </style>
  </head>
  <body>
    <h2> 카테고리별 뉴스 검색 </h2>
    <input type = "text" id = "search" onkeydown="search()">
    <h3 class = "category"> </h3>
    <div class = "every_card"> </div>

    <script>
      function search() {
          if(event.keyCode == 13) {
              $('.category').html("");
              $('.every_card').html("");
              $('.every_card').hide();
              $('.category').html(document.getElementById('search')['value'] + " 관련 News");
              var search = document.getElementById('search')['value']
              $.ajax({
                  type : "GET",
                  url : "/news1?search=" + search,
                  data: {},
                  success: function (response){
                      for (var  i = 0; i <  response.length; i ++) {
                          var each = response[i]
                          console.log(each)
                          var li = each['link']
                          var ti = each['title']
                          var pd = each['pubDate']
                          var dc = each['description']
                          var card_text = '<div class="card">\n' +
                                '  <div> ' +
                              '        <svg style = "margin-top: 1rem;" width="5rem" height="5rem" viewBox="0 0 16 16" class="bi bi-newspaper" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                              '          <path fill-rule="evenodd" d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/>\n' +
                              '          <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>\n' +
                              '        </svg>\n </div>\n' +
                                '   <div class="card-body">\n' +
                                '     <h5 class="card-title" style = "font-size: 0.7rem">' + dc + '<br><br>'+ pd + '</h5>\n' +
                                '     <p class="card-text">' + ti + '</p>\n' +
                                '     <button type="button" class="btn btn-info" onclick="window.open(\''+ li +'\')">뉴스 방문</button>\n' +
                                '   </div>\n' +
                                '</div> &ensp;';
                          $('.every_card').append(card_text)
                      }
                      $('.every_card').fadeIn(1000);
                  }
              })
          }
      }
    </script>
  </body>
</html>